language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - 7.1
  - hhvm

env:
  global:
    - setup=basic

sudo: false

services:
  - mysql
  - postgresql
  - sqlite3


before_install:
  - travis_retry composer self-update
  - mysql -e 'CREATE DATABASE IF NOT EXISTS test;'
  - mysql -e 'use test;source tests/DB/testMysql.sql;'
  - psql -c 'create database test;' -U postgres
  - psql -h localhost -d test -U postgres -f tests/DB/testPgsql.sql
  - sqlite3 tests/DB/test.db ".read tests/DB/testSqlite.sql"    

install:
  - travis_retry composer update --prefer-source --no-interaction --prefer-lowest --prefer-stable


script: vendor/bin/phpunit
