<phpunit bootstrap="./vendor/autoload.php">
  <testsuites>
    <testsuite name="mysql">
        <file>./tests/DB/MysqlDMLTest.php</file>
        <file>./tests/DB/MysqlDQLTest.php</file>
    </testsuite>
    <testsuite name="pgsql">
        <file>./tests/DB/PgsqlDMLTest.php</file>
        <file>./tests/DB/PgsqlDQLTest.php</file>
    </testsuite>
    <testsuite name="sqlite">
        <file>./tests/DB/SqliteDMLTest.php</file>
        <file>./tests/DB/SqliteDQLTest.php</file>
    </testsuite>
  </testsuites>
</phpunit>
